// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {  
   50% { opacity: 0.5; }
  }
html{
  height: 98vh !important;
}
  .scallop-down{
    height:100px;
    width:100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#369A7E), color-stop(0.49, #369A7E), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
  }
  
  
  /*----------------*/
  /*  SCALLOP up    */
  /*----------------*/
  .scallop-up{
    height:100px;
    width:100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#369A7E), color-stop(0.49, #369A7E), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
  }


  .post_img{

    margin-bottom:5px;
    height:200px;
    width:auto;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 5px;
  }

  .divider{
    border-top: 8px solid #bbb;
    border-bottom:8px solid #bbb;
    border-right:2px solid #bbb;
    border-left:2px solid #bbb;

    border-radius: 5px;
  }


  .triangle-left {
    width: 0;
    height: 0;
    border-bottom: 15px solid black;
    border-right: 15px solid transparent;

  }

  .triangle-right {
    width: 0;
    height: 0;
    border-bottom: 15px solid black;
    border-left: 15px solid transparent;
  }

 
.blClr{
    background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .vh100body{
    height: 90vh !important;
  }
  .chatField
  {
    height: 80vh !important;
  }

  // .availableUsersField{
  //   // height:60vh;

  // }

.fixChatRight{
  position: sticky;
  top: 3.7em !important;
  right: 0;
}

#closeIcon{
  
    color:rgb(202, 52, 51);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;
}

.bg-pretyRed{
  background-color:rgb(202, 52, 51);


}
.ltr-spacing{
  letter-spacing: 0.1em;
}
  .msgField
  {
    overflow: auto; 
    background-image: linear-gradient(to bottom,#b4a0a4,#d5c9cd, #E9E9E9,#ffffff);
    height:75vh;
    max-height:75vh;
  }
  .mt-05{
    margin-top: -0.5rem;
  }
  .msgComposeField{
    // height:15vh !important;
    // max-height:15vh !important;
  }
  .wdthh90{
    padding-right:0 !important;
    max-width: 64% !important;
  }
  .bg-mango{
  background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to  , #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.bg-grayGradient{
  background-image: linear-gradient(to left,#b4a0a4,#d5c9cd, #E9E9E9,#ffffff);

}

.stickyNavbar{
  position: sticky;
  top: 0;
  z-index: 200;
}
  .timestamp{
    font-size: 0.5rem;
  }


  .pt-23{
  padding-top: 2.3em !important;
}